body {
  background: #e0e0e0;
}

.wrapper {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

section {
  border-radius: 22px;
  background: #e0e0e0;
  box-shadow: 16px 16px 29px #898989, -16px -16px 29px #ffffff;
}

.user-info {
  grid-column: 1/3;
}

.daily-water {
}

.daily-water-chart-container {
  height: 90%;
  width: 90%;
}

.sleep-report {
  grid-row: 2/4;
}

.daily-activity {
  grid-column: 3/5;
}

.weekly-activity {
  grid-column: 2/4;
}

// styling for icons
.icon {
  height: 30px;
}
