@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background: #e0e0e0;
  margin: 1.5rem;
  color: #666666;
  font-family: Oswald;
  // overflow: hidden;
}

h1 {
}

p {
  margin: 1%;
  font-size: 0.8em;
}

.wrapper {
  height: 90vh;
  border-width: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5em;
}

section {
  padding: 0 1em 0 1em;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 16px 16px 29px #898989, -16px -16px 29px #ffffff;
}

.user-info {
  display: flex;
}

.user-info-div {
  height: 95%;
  width: 90%;
}

.daily-water {
}

.daily-water-chart-container {
  height: 95%;
  width: 90%;
}

.weekly-water {
  grid-column: 3/5;
}

.weekly-water-chart-container {
  height: 95%;
  width: 90%;
}
.sleep-report {
  grid-row: 2/4;
}

.sleep-chart-container {
  // height: 95%;
  // width: 50%;
}

.daily-activity {
  grid-column: 3/5;
}

.weekly-activity {
  grid-column: 2/4;
}

// styling for icons
.icon {
  height: 30px;
}

// tablet responsive design
@media screen and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .user-info {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .daily-water {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .weekly-water {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .sleep-report {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .weekly-sleep {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .daily-activity {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .weekly-activity {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .extra-box {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}

// mobile responsive design
@media screen and (max-width: 767px) {
  body {
  }
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .user-info {
    grid-row: 1/2;
  }

  .daily-water {
    grid-row: 2/3;
  }

  .weekly-water {
    grid-row: 3/4;
  }

  .sleep-report {
    grid-row: 4/5;
  }

  .weekly-sleep {
    grid-row: 5/6;
  }

  .daily-activity {
    grid-row: 6/7;
  }

  .weekly-activity {
    grid-row: 7/8;
  }

  .extra-box {
    grid-row: 8/9;
  }

  .boxes {
    grid-column: 1/2;
  }
}
