@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background: #e0e0e0;
  color: #666666;
  font-family: Oswald;
  margin: 1.5rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
  margin: 3%;
}

.wrapper {
  border-width: 1.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
}

section {
  background: #e0e0e0;
  border-radius: 5px;
  box-shadow: 16px 16px 29px #898989, -16px -16px 29px #ffffff;
  padding: 0 1em 0 1em;
}

.user-info {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  justify-content: center;
}

.user-greeting {
  margin-bottom: 0;
}

.user-spec {
  display: flex;
}

.user-info-div {
  height: 90%;
  margin-bottom: 2.5em;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daily-water {
  grid-column: 2/3;
  height: 100%;
  width: 90.2%;
}

.daily-water-chart-container {
  height: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-top: 8%;
  position: relative;
  width: 90%;
}

.weekly-water {
  grid-column: 3/5;
}

.weekly-water-chart-container {
  height: 70%;
  margin-bottom: 5%;
  margin-left: 4.5%;
  position: relative;
  width: 90%;
}
.sleep-report {
  position: relative;
  grid-row: 2/3;
}

.sleep-chart-container .sleep-score-chart-container {
  height: 45%;
  position: relative;
  width: 90%;
}

.sleep-score-chart-container {
  margin-bottom: 10%;
}

.weekly-sleep {
  grid-column: 2/4;
}

.weekly-sleep-container {
  height: 70%;
  position: relative;
  width: 90%;
}

.weekly-sleep-chart-container {
  height: 70%;
  position: relative;
  margin-bottom: 5%;
  margin-left: 4.5%;
  width: 90%;
}

.daily-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 4/5;
}

.daily-activity-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2em;
}

.daily-activity-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 7em;
}

.mini-icon {
  height: 2.3em;
  margin-right: 0.6em;
  margin-top: 0.5em;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .user-info {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .daily-water {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .weekly-water {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .sleep-report {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .weekly-sleep {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .daily-activity {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-left: -0.05em;
  }

  h1 {
    text-align: center;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .user-info {
    grid-row: 1/2;
  }

  .daily-water {
    grid-row: 2/3;
  }

  .weekly-water {
    grid-row: 3/4;
  }

  .sleep-report {
    grid-row: 4/5;
  }

  .weekly-sleep {
    grid-row: 5/6;
  }

  .daily-activity {
    grid-row: 6/7;
  }

  .boxes {
    grid-column: 1/2;
  }
}
